{% extends 'base.html.twig' %}

{% block title %}
Add Course
{% endblock %}

{% block body %}
<div class="container mt-3">
    <h2 class="container mt-2">ADD Course</h2>
    <div class="col-md-6">
        {{ form_start (form) }}
            <div class="form-group">
                {{ form_label (form.name) }}
                {{ form_widget (form.name,
                {
                    'attr' :{'class' : 'form-control'}
                }) }}
            </div>
            <div class="form-group">
                {{ form_label (form.description) }}
                {{ form_widget (form.description,
                {
                    'attr' :{'class' : 'form-control'}
                }) }}
            </div>
            
           
            
            
            <div class="form-group text-center mt-3">
                <button class="btn btn-primary" type="submit">ADD</button>
            </div>
        {{ form_end (form) }}
    </div>
</div>
{% endblock %}