{% extends 'base.html.twig' %}

{% block title %}
	Course Detail
{% endblock %}

{% block body %}
	<div class="container">
		<h4 class="text-primary  text-center">Course Detail</h4>
		<a class="btn btn-outline-primary" href="{{ path('course_index') }}">Course LIST</a>
		<table class="table table-striped mt-3  text-center">
			<thead>
				<tr>
					<th>Name</th>

					<th>Description</th>
					<th>Manage</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ course.name }}</td>

					<td>{{ course.description }}</td>

					{% if is_granted('ROLE_ADMIN') %}
						<td>
							<a class="btn btn-primary" href="{{ path('course_edit', {'id': course.id }) }}">EDIT</a>
							<a class="btn btn-warning" href="{{ path('course_delete', {'id': course.id }) }}" onclick="return confirm('Are you sure to delete this author ?')">
								DELETE</a>
						</td>
					{% endif %}

				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
