{% extends 'base.html.twig' %}

{% block title %}Hello ClassController!
{% endblock %}

{% block body %}
	<div class="container">
		<h4>Class</h4>
		{% if is_granted('ROLE_ADMIN') %}
			<a class="btn btn-outline-primary" href="{{ path('classes_add') }}">ADD Class</a>
		{% endif %}

		<table class="table  table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					{% if is_granted('ROLE_ADMIN') %}
						<th scope="col">Manage</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for c in classes %}
					<tr>

						<td>{{c.id}}</td>
						<td>{{c.name}}</td>
						<td>{{c.description}}</td>
						{% if is_granted('ROLE_ADMIN') %}
							<td>
								<a href="{{path('classes_detail',{'id': c.id})}}" class="btn btn-info">detail</a>
								<a href="{{path('classes_edit',{'id': c.id})}}" class="btn btn-primary">Edit</a>
								<a href="{{path('classes_delete',{'id': c.id})}}" class="btn btn-warning">Delete</a>
							</td>
						{% endif %}

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
