{% extends 'base.html.twig' %}

{% block title %}
Edit Teacher
{% endblock %}

{% block body %}
<div class="container mt-3">
    <h2 class="container mt-2">EDIT Teacher</h2>
    <div class="col-md-6">
        {{ form_start (form) }}
            <div class="form-group">
                {{ form_label (form.name) }}
                {{ form_widget (form.name,
                {
                    'attr' :{'class' : 'form-control'}
                }) }}
            </div>
            <div class="form-group">
                {{ form_label (form.age) }}
                {{ form_widget (form.age,
                {
                    'attr' :{'class' : 'form-control'}
                }) }}
            </div>
            <div class="form-group">
                {{ form_label (form.Location) }}
                {{ form_widget (form.Location,
                {
                    'attr' :{'class' : 'form-control'}
                }) }}
            </div>
            <div class="form-group">
            {{ form_label (form.courses) }}
            {{ form_widget (form.courses,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>
            <div class="form-group">
                {{ form_label (form.Avatar) }}
                {{ form_widget (form.Avatar,
                {
                    'attr' :{'class' : 'form-control'}
                }) }}
            </div>
            <div class="form-group text-center mt-3">
                <button class="btn btn-primary" type="submit">EDIT</button>
            </div>
        {{ form_end (form) }}
    </div>
</div>
{% endblock %}